<ng-container>
  <footer class="mt-auto">
    <div class="text-center p-3 footer-text-holder">
      <div class="flex-column">
        <p><b>LINKEK</b></p>
        <a routerLink="/home" (click)="scrollTop()">Főoldal</a>
        <a routerLink="/haccp" (click)="scrollTop()">Online Haccp</a>
        <a routerLink="/gyik" (click)="scrollTop()">GYIK</a>
      </div>
      <div class="flex-column">
        <p><b>INFORMÁCIÓ</b></p>
        <a (click)="onOpen($event, 'privacy')"> Adatvédelmi tájékoztató </a>

        <a (click)="onOpen($event, 'aszf')">
          Általános Szerződési Feltételek
        </a>
        <a (click)="onOpen($event, 'imp')"> Impresszum </a>
        <img
          id="simplepay-logo"
          width="330px"
          src="../../../assets/simplepay.png"
        />
      </div>
    </div>
    <div class="footer-copyright">
      <small>© 2023 Copyright </small>
    </div>
  </footer>
</ng-container>
