@use "../../../styles.scss" as s;
@use "sass:map";

footer {
  color: rgb(229, 229, 229);
  background: map.get(s.$colors-map, my-grey);
  width: 100%;

}

.footer-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}
