<form [formGroup]="companyForm">
  <mat-form-field>
    <mat-label>Név</mat-label>
    <input formControlName="user_name" matInput readonly="true" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Egység neve</mat-label>
    <input formControlName="company_unit_name" matInput />
    <mat-error *ngIf="companyForm.controls['company_unit_name'].hasError"
      >Egység nevének megadása kötelező</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Kategória</mat-label>
    <mat-select formControlName="company_category">
      <mat-option
        *ngFor="let option of categories | keyvalue"
        [value]="option.key"
        >{{ option.value }}</mat-option
      >
    </mat-select>
    <mat-error *ngIf="companyForm.controls['company_category'].hasError"
      >Kategória választása kötelező</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Számlázási név</mat-label>
    <input formControlName="company_billing_name" matInput />
    <mat-error *ngIf="companyForm.controls['company_billing_name'].hasError"
      >Számlázási név megadása kötelező</mat-error
    >
  </mat-form-field>


  <mat-form-field>
    <mat-label>Számlán szereplő irányító szám</mat-label>
    <input formControlName="company_billing_zip" matInput />
    <mat-error *ngIf="companyForm.controls['company_billing_address'].hasError"
      >Irányító szám megadása kötelező</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Számlán szereplő város</mat-label>
    <input formControlName="company_billing_city" matInput />
    <mat-error *ngIf="companyForm.controls['company_billing_address'].hasError"
      >Város megadása kötelező</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Számlán szereplő cím (utca, házszám, egyéb)</mat-label>
    <input formControlName="company_billing_address" matInput />
    <mat-error *ngIf="companyForm.controls['company_billing_address'].hasError"
      >Számlázási cím megadása kötelező</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Székhely</mat-label>
    <input formControlName="company_headquarters" matInput />
    <mat-error *ngIf="companyForm.controls['company_headquarters'].hasError"
      >Székhely megadása kötelező</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telephely</mat-label>
    <input formControlName="company_location" matInput />
    <mat-error *ngIf="companyForm.controls['company_location'].hasError"
      >Telephely megadása kötelező</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telefonszám</mat-label>
    <input formControlName="company_phone" matInput />
    <mat-error *ngIf="companyForm.controls['company_phone'].hasError"
      >Telefonszám megadása kötelező</mat-error
    >
    <mat-error
      *ngIf="
        companyForm.controls['company_phone'].dirty ||
        companyForm.controls['company_phone'].touched
      "
    >
      A telefonszám formátuma nem megfelelő (pl. +36300000000 / 06300000000)
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cégnév</mat-label>
    <input formControlName="company_name" matInput />
    <mat-error *ngIf="companyForm.controls['company_name'].hasError"
      >Cég nevének megadása kötelező</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cégjegyzékszám</mat-label>
    <input formControlName="company_registration_number" matInput />
    <mat-error
      *ngIf="companyForm.controls['company_registration_number'].hasError"
      >Cégjegyzékszám megadása kötelező</mat-error
    >
    <mat-error
      *ngIf="
        companyForm.controls['company_registration_number'].dirty ||
        companyForm.controls['company_registration_number'].touched
      "
    >
      A cégjegyzékszám formátuma nem megfelelő (12-12-123456)
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Adószám</mat-label>
    <input formControlName="company_vat_number" matInput />
    <mat-error *ngIf="companyForm.controls['company_vat_number'].hasError"
      >Adószám megadása kötelező</mat-error
    >
    <mat-error
      *ngIf="
        companyForm.controls['company_vat_number'].dirty ||
        companyForm.controls['company_vat_number'].touched
      "
    >
      Az adószám formátuma nem megfelelő (12345678-1-12)
    </mat-error>
  </mat-form-field>
</form>
