<div class="page">
  <button routerLink="/companies" mat-button>
    <mat-icon>keyboard_backspace</mat-icon>
    Vissza az üzleteimhez
  </button>

  <h1>{{ companyName$ | async }} letölthető dokumentumok</h1>
  <div class="cards-holder" *ngIf="company$ | async as company">
    <ng-container *ngIf="haccpDocuments.length; else noData">
      <app-document-cards
        [documents]="documents"
        (downloadEvent)="downloadDocument($event)"
      ></app-document-cards>
    </ng-container>
  </div>
</div>

<ng-template #noData>
  <div class="no-data">
    <h3>A dokumentumok a HACCP elkészítését követően lesznek elérhetőek.</h3>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="'/haccp/' + company.company_id"
    >
      KITÖLTÖM AZ ADATBEKÉRŐT
    </button>
  </div>
</ng-template>
