h1,
h2 {
  text-align: center;
  margin-top: 1rem;
}

button {
  margin-top: 1rem;
}

.page {
  width: 70%;
  margin: 0 auto;
  min-height: auto;
  min-height: -webkit-calc(100% - 170px);
  min-height: -moz-calc(100% - 170px);
  min-height: calc(100% - 170px);
  @media only screen and(max-width: 600px) {
    width: 90%;
  }
  @media only screen and(max-width: 988px) {
    width: 90%;
    min-height: -webkit-calc(100% - 147px);
    min-height: -moz-calc(100% - 147px);
    min-height: calc(100% - 147px);
  }
}

.no-data {
  margin-top: 5rem;
  h3 {
    font-size: 1.5rem;
  }
}
