<div class="page">
  <h1>Gyakran Ismételt Kérdések (GYIK)</h1>
  <h2>1. Mi az a HACCP terv?</h2>
  <p>
    A HACCP-terv a teljes üzleti folyamatnak, a veszélyértékelésnek, az
    ellenőrzési eljárásoknak, valamint a HACCP elvein alapuló folyamatos
    monitoring tevékenységnek írott és jogi dokumentuma. Élelmiszeripari
    vállalkozásának vagy gyártóüzemének elindítása előtt HACCP-tervvel is
    rendelkeznie kell, és rendszeres időközönként felül kell vizsgálnia a
    HACCP-tervét, ha a gyártási folyamatokban változások következnek be.
  </p>
  <p>
    Az élelmiszeripari HACCP-terv az Ön műveleteinek részletes elemzéséből áll,
    beleértve a kapcsolódó potenciális élelmiszer-biztonsági veszélyeket.
    Tartalmazza továbbá az azonosított veszélyek ellenőrzésére szolgáló
    megfelelő megelőző eljárásokat és az élelmiszer-biztonsági szabványoknak
    való megfelelést biztosító monitoring tevékenységeket. Részletesen leírja
    vállalkozása jellegét, az iparágakat, amelyekkel együtt dolgozik, és azokat
    az ügyfeleket, amelyeket piacának tekint. A
    <a href="https://www.premiumcsoport.hu/" target="_blank">
      Prémium Csoportnál
    </a>
    kidolgoztunk egy módot arra, hogy az egész HACCP-terv készítésének
    folyamatát egyszerűvé, pontossá és olcsóbbá tegyük.
  </p>
  <h2>2. Miért fontos a HACCP?</h2>
  <p>
    Két okból van szüksége HACCP-tervre. Először is, ha Magyarország
    élelmiszeriparában dolgozik, jogilag kötelező a HACCP-terv, vagy legalábbis
    egy kockázatalapú élelmiszer-biztonsági irányítási rendszer. A HACCP-terv
    meglétét és a valóságnak való megfelelését az Ön konyhájában vagy
    ételfelszolgáló területén az állami egészségügyi felügyelő évente legalább
    egyszer ellenőrzi. Másodszor, a HACCP célja, hogy csökkentse az élelmiszerek
    biztonsági kockázatait és a termék szennyeződésének kockázatát. A terv segít
    hűséges ügyfélbázis kialakításában, és lehetővé teszi, hogy
    élelmiszer-biztonsági problémák nélkül bővítse vállalkozását.
  </p>
  <h2>3. Kötelező a HACCP?</h2>
  <p>
    Sokszor felmerül a kérdés, hogy a HACCP-terv kötelező-e egy élelmiszeripari
    vállalkozásban. A válasz nagymértékben függ attól, hogy milyen iparágban és
    milyen országban működik a létesítmény.
    <strong>Röviden válaszolva: IGEN, kötelező. </strong>
  </p>
  <p>
    Az Európai Parlament és a Tanács 852/2004/EK élelmiszerbiztonsági rendelete
    értelmében minden élelmiszeripari vállalkozásnak rendelkeznie kell
    HACCP-tervvel. A jó higiéniai gyakorlat és a kevésbé szigorú kockázatalapú
    tervek elegendőek lennének a kisebb létesítmények számára. Ugyanezeket a
    kritériumokat globálisan is elfogadják. Magyarországon a HACCP létrehozása
    az élelmiszeripari vállalkozás számára kötelező. Az alkalmazandó
    élelmiszer-biztonsági követelmény az élelmiszerbiztonsági hatóságok, például
    a Nemzeti Élelmiszerlánc-Biztonsági Hivatal (NÉBIH) által figyelembe vett
    bizonyos műveleteken alapul.
  </p>
  <h2>4. Mikor kell frissítenie HACCP-tervét?</h2>
  <p>
    Mindenkinek, aki HACCP tervet készít, frissítenie kell a jövőben. Íme néhány
    konkrétabb forgatókönyv, amelyek szükségessé teszik a HACCP-terv
    frissítését:
  </p>
  <ul>
    <li>Új termék bevezetése vagy egy meglévő recept felülvizsgálata</li>
    <li>Változások a termék összetételében és csomagolásában</li>
    <li>Az élelmiszer-előállítási folyamat felülvizsgálata</li>
    <li>Folyamatos gyártásról időszakos gyártásra váltás</li>
    <li>Alternatív összetevők bevezetése</li>
    <li>
      Különbségek a termék tesztelésére szolgáló berendezés kialakításában
    </li>
    <li>Új gyártó létesítmény</li>
    <li>Hatósági ellenőrzések után</li>
  </ul>
  <p>
    A HACCP-terv frissítése nagy feladat lehet. Ezen túlmenően sok időt vesz
    igénybe, különösen, ha Ön hagyományos, papíralapú módszert használ. Így a
    rugalmas, <a routerLink="/haccp"> digitális HACCP terv </a> lehet a legjobb
    megoldás a folyamatos fejlesztésekre.
  </p>
  <h2>5. Kinek lehet jó megoldás a HACCP online elkészítése?</h2>
  <p>
    Ha szeretné megtudni, hogy Önnek megfelelő-e a WEBHACCP
    <a routerLink="/haccp"> online megoldása </a> , iránymutatásként gondolja át
    az <a routerLink="/questions"> alábbi kérdéseket </a>! Ha a folyamat
    készítése közben vagy a kérdések megválaszolása után mégis úgy dönt, hogy a
    webes helyett inkább a hagyományos megoldást választaná, keresse fel a
    <a href="https://www.premiumcsoport.hu/" target="_blank"> Prémium HACCP </a>
    weboldalt további információkért!
  </p>
  <h2>
    6. Elkezdtem az online HACCP kitöltését, de problémába ütköztem, amit nem
    tudok megoldani. Mi a teendő?
  </h2>
  <p>
    A WEBHACCP a leggyakoribb üzlet- és étteremtípusok esetén problémamentesen
    alkalmazható, azonban minden egyes helyzetre és a HACCP szabályozást érintő
    egyedi esetekre nincs felkészítve. Ha elakad a kérdőív kitöltése közben,
    javasoljuk, hogy ennek ellenére is fejezze be a regisztrációs folyamatot, és
    mentse el válaszait! A fizetési folyamatot ebben az esetben nem szükséges
    végigvinnie, hiszen valószínűleg Önnek ilyenkor nem a WEBHACCP lesz a
    megfelelő megoldás.
    <a routerLink="/login" fragment="registration"> Regisztrációja </a> azonban
    így is bekerül a rendszerbe, így kollégáink a Prémium Csoportnál egy
    hagyományos HACCP-terv készítési eljárás során már alapul tudják venni az
    ott megadott információkat. A hagyományos HACCP-terv árazása eltér az online
    megoldásétól, ezzel kapcsolatos további tájékoztatást a
    <a href="https://www.premiumcsoport.hu/" target="_blank"> Prémium HACCP </a>
    weboldalán megadott elérhetőségeken tudunk nyújtani.
  </p>
</div>
