#cookie{
    background-color: #009687;
    font-family: "Poppins";
    color: black;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 1;
    padding: 10px;
    p{
        width: 70%;
    }
}