<app-nav-menu></app-nav-menu>
<router-outlet></router-outlet>
<app-loader [loader]="isLoading$ | async"></app-loader>
<app-footer></app-footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-722757478"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-722757478');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WS9CKD5SGR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WS9CKD5SGR');
</script>

