<div class="section">
  <div class="img-container">
    <div class="black-layer"></div>
  </div>
  <div class="text">
    <!--   <h2>HACCP felülvizsgálat? A múlté…</h2>
    <p>
      A rendszer automatikusan jelzi Önnek, ha a dokumentumok a lejárathoz
      közelednek, pár kattintás és a dokumentumok felülvizsgálatát Önmagának
      elvégezheti, külsős tanácsadó nélkül!
    </p>
     <br />
      <button mat-raised-button color="primary" [routerLink]="'/haccp'">
      KITÖLTÖM AZ ADATBEKÉRŐT
    </button>-->
    <h2>WEB HACCP - ÖNNEK VAJON JÓ MEGOLDÁS?</h2>
    <p>
      Ha még bizonytalan, hogy a WEB HACCP az ideális megoldás-e az Ön
      problémájára, válaszolja meg az alábbi kérdéseket, melyek segítenek
      dönteni!
    </p>
    <br />
    <button mat-raised-button color="primary" [routerLink]="'/questions'">
      MEGNÉZEM A KÉRDÉSEKET
    </button>
  </div>
</div>
