<div class="section">
  <div class="img-container">
    <div class="black-layer"></div>
  </div>
  <div class="text">
    <!--   <h2>HACCP felülvizsgálat? A múlté…</h2>
    <p>
      A rendszer automatikusan jelzi Önnek, ha a dokumentumok a lejárathoz
      közelednek, pár kattintás és a dokumentumok felülvizsgálatát Önmagának
      elvégezheti, külsős tanácsadó nélkül!
    </p>
     <br />
      <button mat-raised-button color="primary" [routerLink]="'/haccp'">
      KITÖLTÖM AZ ADATBEKÉRŐT
    </button>-->
    <h2>WEB HACCP segítségével akár 15perc alatt elkészítheti a
      HACCP-tervet</h2>
    <p>
      Szerezze meg HACCP-tervét 500-szor gyorsabban és 5-ször olcsóbban anélkül,
hogy rengeteg papírt kellene kitöltenie vagy élelmiszer-biztonsági tanácsadót kellene felvennie.
Válaszoljon néhány egyszerű kérdésre, és figyelje, ahogy mesterséges intelligencia összeállítja azokat
az élelmiszerbiztonsági dokumentumokat, amelyeket be kell nyújtania a helyi hatóságnak.
    </p>
    <br />
    <button
      mat-raised-button
      color="primary"
      [routerLink]="'/questions'"
      (click)="scrollTop()"
    >
      MEGNÉZEM A KÉRDÉSEKET
    </button>
  </div>
</div>
