<div class="section">
  <div class="img-container">
    <div class="black-layer"></div>
  </div>
  <div class="text">
    <h2>HACCP felülvizsgálat? A múlté…</h2>
    <p>
      A rendszer autómatikusan jelzi Önnek, ha a dokumentumok a lejárathoz
      közelednek, pár kattintás, és a dokumentumok felülvizsgálatát Önmagának
      elvégezheti, külsős tanácsadó nélkül.
    </p>
    <br />
    <button mat-raised-button color="primary" [routerLink]="'/haccp'">
      KITÖLTÖM AZ ADATBEKÉRŐT
    </button>
  </div>
</div>
