@use "../../../../styles.scss" as s;
.page {
  width: 80%;
  margin: 2rem auto;
  @media only screen and(max-width: 1200px) {
    width: 90%;
  }
  @media only screen and(max-width: 890px) {
    width: 100%;
  }
}
.form {
  @include s.formCard;
  h2 {
    text-align: center;
  }
  .button-holder {
    display: flex;
    flex-wrap: wrap;
  }
  #save-btn {
    margin-right: 0.5rem;
    border-radius: 12px;
    width: 140px;
    margin-top: 1rem;
  }
  #cancel-btn {
    border-radius: 12px;
    width: 140px;
    margin-top: 1rem;
  }

  .error {
    color: #c62828;
    padding-top: 16px;
    margin-top: 12px;
  }
  #exit-btn {
    color: #0c8d8c;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .edit-icon {
    @include s.editIcon;
  }
}
