<div class="page">
  <div class="content">
    <div class="flex">
      <mat-icon>schedule</mat-icon>
      <h2>
        Takarítson meg időt és pénzt, digitalizálja élelmiszerbiztonságát!
      </h2>
    </div>
    <p>
      Vigye be az élelmiszerbiztonsági innovációt cégébe, és digitalizálja az
      összes élelmiszerbiztonsági dokumentumát. Itt az ideje, hogy
      megszabaduljon HACCP papírjaitól!
    </p>

    <br />
    <div class="flex">
      <mat-icon>task_alt</mat-icon>
      <h2>Takarítson meg élelmiszerbiztonsági feladatokat!</h2>
    </div>
    <p>
      Mentse el az összes élelmiszerbiztonsági adatát egy helyen, és készüljön
      fel időben a közelgő auditokra. Ellenőrizze az élelmiszerbiztonságot, és
      tegye könnyen érthetővé az élelmiszerbiztonsági szabályokat minden
      élelmiszerrel foglalkozó ember számára!
    </p>
    <!--   <p>
      Heti 8 órát takaríthat meg a rutin élelmiszerbiztonsági feladatok
      betartásával. Figyeljen mindenféle élelmiszerbiztonsági eljárást, és
      használjon értesítéseket az élelmiszerbiztonság ellenőrzése érdekében! A
      valós idejű irányítópult segítségével a felügyeletre fordított idő további
      20%-át takaríthatja meg!
    </p> -->
  </div>
</div>
