<div class="page">
  <div class="content">
    <div class="flex">
      <mat-icon>schedule</mat-icon>
      <h2>
        Takarítson meg időt és pénzt, digitalizálja élelmiszerbiztonságát!
      </h2>
    </div>
    <p>
      Vigye be az élelmiszer-biztonsági innovációt cégébe, és digitalizálja az
      összes élelmiszer-biztonsági dokumentumát. Itt az ideje, hogy
      megszabaduljon HACCP-papírjaitól!
    </p>

    <br />
    <div class="flex">
      <mat-icon>task_alt</mat-icon>
      <h2>Takarítson meg élelmiszer-biztonsági feladatokat!</h2>
    </div>
    <p>
      Mentse el az összes élelmiszerbiztonsági adatát egy helyen, és készüljön
      fel időben a közelgő auditokra. Ellenőrizze az élelmiszer-biztonságot, és
      tegye könnyen érthetővé az élelmiszer-biztonsági szabályokat minden
      élelmiszerrel foglalkozó ember számára!
    </p>
    <!--   <p>
      Heti 8 órát takaríthat meg a rutin élelmiszer-biztonsági feladatok
      betartásával. Figyeljen mindenféle élelmiszer-biztonsági eljárást, és
      használjon értesítéseket az élelmiszerbiztonság ellenőrzése érdekében! A
      valós idejű irányítópult segítségével a felügyeletre fordított idő további
      20%-át takaríthatja meg!
    </p> -->
  </div>
</div>
