<div class="page">
  <div class="content">
    <div class="row">
      <div class="column">
        <h2>Miért válassza a WEB HACCP szoftverét?</h2>
         <span class="bold">Vendéglátó egységek megnyitásához nem kell élelmiszer-biztonsági tanácsadót felvennie! </span> 
         <br><br>
         <ul>
           <li>Időt takarít meg - a WEB HACCP-szoftver 500 x gyorsabb, mint bármely élelmiszer-biztonsági tanácsadó.</li>
           <li>Pénzt takarít meg - 5 x megfizethetőbben kapja meg HACCP -csomagját, mint a WEB HACCP előtt.</li>
           <li>Bármikor módosíthatja vagy letöltheti HACCP-tartalmát. A nap 24 órájában</li>
           <li>Helyi és nemzetközi vállalkozások választása a WEB HACCP - Minden fő élelmiszer-biztonsági szabványt lefedünk.</li>
         </ul>
     </div>
     <div class="column">
       <h2>Kiknek jó a WEB HACCP?</h2>
        <p>
         ÉTTERMEK - MOZGÓBOLTOK - BÁROK ÉS PUBOK - BÜFÉK - SZÁLLODÁK - BENZINKUTAK - DOHÁNYBOLTOK - HAMBURGEREZŐ - HIDEGKONYHÁK - FALATOZÓK
        </p>
        <hr>
        <h2>Mikor NEM ajánljuk a WEB HACCP-t?</h2>
         <ul>
           <li>Speciális konyhatechnológiák alkalmazása mellett</li>
           <li>Kereskedelmi egységek részére 2023.08.01-től elérhető</li>
           <li>Logisztikai és Csomagoló üzemek számára 2024.02.01-től</li>
           <li>Borászatok, Cukrászatok, Húsipari feldolgozók 2024.02.01-től</li>
         </ul>
     </div>
    </div>
    
</div>
