<div class="register-card-holder">
  <div class="register-bg"></div>
  <div class="register-card">
    <h1>Regisztráció</h1>
    <div class="register-form">
      <form [formGroup]="registerForm">
        <mat-form-field appearance="fill">
          <mat-label>Név</mat-label>
          <input formControlName="user_name" matInput />
          <mat-error
            *ngIf="
              registerForm.controls['user_name'].dirty ||
              registerForm.controls['user_name'].touched
            "
          >
            Legalább 4, maximum 20 karakter
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>E-mail cím</mat-label>
          <input formControlName="user_email" matInput />
          <mat-error
            *ngIf="
              registerForm.controls['user_email'].dirty ||
              registerForm.controls['user_email'].touched
            "
          >
            Az e-mail cím formátuma nem megfelelő
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="emailIsAlreadyTaken">
          Ezzel az e-mail címmel már regisztráltak
        </mat-error>

        <mat-form-field appearance="fill">
          <mat-label>Telefonszám</mat-label>
          <input formControlName="user_phone" matInput />
          <mat-error
            *ngIf="
              registerForm.controls['user_phone'].dirty ||
              registerForm.controls['user_phone'].touched
            "
          >
            A telefonszám formátuma nem megfelelő
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Jelszó</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            formControlName="user_password"
            matInput
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error
            *ngIf="
              registerForm.controls['user_password'].dirty ||
              registerForm.controls['user_password'].touched
            "
          >
            Jelszó erőssége nem megfelelő
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Jelszó újra</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            formControlName="rePassword"
            matInput
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error
            *ngIf="
              (passwordsNotMatch &&
                registerForm.controls['rePassword'].dirty) ||
              registerForm.controls['rePassword'].touched
            "
          >
            A jelszavak nem egyeznek
          </mat-error>
        </mat-form-field>

        <div class="button-holder my-3">
          <button
            [disabled]="registerForm.invalid"
            (click)="register()"
            id="register-btn"
            mat-raised-button
          >
            Regisztráció
          </button>
        </div>

        <p id="sign-in">
          Már van felhasználód?
          <button matStepperPrevious mat-button color="primary">
            Bejelentkezés
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
