<div class="container">
  <h1>HACCP TANÚSÍTVÁNY</h1>
  <div class="content">
    <div class="description">
      <h2>HACCP készítése online, egyszerűen</h2>
      <p>
        Aliquam eget arcu quis risus rhoncus mollis sed ut metus. Sed fermentum
        consequat eros eget semper. Sed porta nunc eros, sed efficitur ipsum
        fringilla quis. Mauris facilisis maximus augue, a ullamcorper arcu
        rhoncus a. Aenean ipsum lacus, consequat id dui sit amet, convallis
        euismod metus. Nam in justo vulputate, suscipit metus vestibulum, tempus
        ligula. Maecenas ultrices ex vitae urna sagittis auctor. Pellentesque ac
        metus nec orci viverra dapibus. Morbi id nibh a odio condimentum
        facilisis. Nam venenatis justo eget fringilla ornare. Praesent finibus
        dolor vitae dolor pretium pretium. Donec fringilla metus ut sem
        pellentesque, id luctus purus cursus. Sed varius, libero quis gravida
        egestas, elit est fermentum eros, eu aliquam elit est eu dui. Curabitur
        tincidunt nulla et sollicitudin scelerisque. Etiam facilisis iaculis
        turpis ut consectetur. Vestibulum vestibulum pellentesque ante quis
        fringilla. <br /><br />
        Nullam molestie erat a nunc vulputate placerat a nec felis. Nam ipsum
        odio, aliquet at ornare eget, congue sit amet magna. Aenean porttitor,
        elit non pharetra commodo, metus odio tristique odio, nec facilisis
        lorem ex ut risus. Nam ut fermentum sapien. Proin orci nulla, molestie
        id lectus quis, consectetur sodales sem. Aliquam iaculis blandit
        tristique. Sed sagittis, dui a pretium lobortis, orci augue dictum
        ipsum, cursus eleifend erat ipsum ac elit. Interdum et malesuada fames
        ac ante ipsum primis in faucibus. Duis efficitur justo in suscipit
        bibendum. Vivamus quis lacus sit amet libero condimentum condimentum et
        quis nulla. Integer commodo at magna vitae elementum. Fusce mollis massa
        quis urna ornare pulvinar. In et neque egestas, consequat purus ut,
        placerat ante. Morbi non posuere sapien, eget molestie felis. Donec vel
        erat efficitur sem tristique gravida.
      </p>
    </div>
    <div class="img-container">
      <img
        src="https://images.pexels.com/photos/1251196/pexels-photo-1251196.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
        alt=""
      />
    </div>
  </div>
</div>
