.container {
  min-height: 100vh;
  h1 {
    text-align: center;
    padding: 2rem;
  }
  .content {
    display: flex;
    .description {
      width: 60%;
      padding: 1rem;
      h2 {
        font-weight: bold;
      }
    }
    .img-container {
      padding: 1rem;
      width: 40%;
      img {
        width: 100%;
      }
    }
  }
}
