<div>
  <form [formGroup]="haccpForm">
    <label class="radio-button-label">Üzemi (fekete) edénymosó?</label>
    <mat-radio-group
      formControlName="haccp_factory_dishwasher"
      class="radio-group"
    >
      <mat-radio-button class="radio-button" value="true">Van</mat-radio-button>
      <mat-radio-button class="radio-button" value="false"
        >Nincs</mat-radio-button
      >
    </mat-radio-group>

    <label class="radio-button-label"
      >Fogyasztói (fehér) edénymosó + mosogatógép?</label
    >
    <mat-radio-group
      formControlName="haccp_consumer_dishwasher"
      class="radio-group"
    >
      <mat-radio-button
        class="radio-button"
        *ngFor="let option of dishwasherOptions | keyvalue"
        [value]="option.key"
      >
        {{ option.value }}
      </mat-radio-button>
    </mat-radio-group>

    <label class="radio-button-label"
      >Egyszer használatos a fogyasztói edény?</label
    >
    <mat-radio-group
      formControlName="haccp_disposable_consumer_container"
      class="radio-group"
    >
      <mat-radio-button class="radio-button" value="true">Van</mat-radio-button>
      <mat-radio-button class="radio-button" value="false"
        >Nincs</mat-radio-button
      >
    </mat-radio-group>

    <label class="radio-button-label"
      >Ha van kiszállítás, hol mosogatja a szállítóedényt?</label
    >
    <mat-radio-group
      formControlName="haccp_dish_washing_up"
      class="radio-group"
    >
      <mat-radio-button
        class="radio-button"
        *ngFor="let option of dishToWashOptions | keyvalue"
        [value]="option.key"
      >
        {{ option.value }}
      </mat-radio-button>
    </mat-radio-group>

    <label class="radio-button-label">Rendelkezik-e HACCP-vel?</label>
    <mat-radio-group formControlName="haccp_have_haccp" class="radio-group">
      <mat-radio-button class="radio-button" value="true"
        >Igen</mat-radio-button
      >
      <mat-radio-button class="radio-button" value="false"
        >Nincs</mat-radio-button
      >
    </mat-radio-group>

    <mat-form-field
      *ngIf="haccpForm.controls['haccp_have_haccp'].value === 'true'"
    >
      <mat-label>Mikori?</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="haccp_existing_haccp_date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label class="radio-button-label">Rovar rágcsáló irtás?</label>
    <mat-radio-group formControlName="haccp_pest_control" class="radio-group">
      <mat-radio-button class="radio-button" value="true"
        >Igen</mat-radio-button
      >
      <mat-radio-button class="radio-button" value="false"
        >Nincs</mat-radio-button
      >
    </mat-radio-group>

    <label class="radio-button-label">Élelmiszer hulladék elszállítása</label>
    <mat-radio-group
      formControlName="haccp_food_waste_transport"
      class="radio-group"
    >
      <mat-radio-button
        class="radio-button"
        *ngFor="let option of foodWasteTransportOptions | keyvalue"
        [value]="option.key"
      >
        {{ option.value }}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <mat-label
        >Kommunális hulladék elszállítása, szerződött partner neve</mat-label
      >
      <input formControlName="haccp_municipal_waste_dispose" matInput />
      <mat-error
        *ngIf="
          haccpForm.controls['haccp_municipal_waste_dispose'].dirty ||
          haccpForm.controls['haccp_municipal_waste_dispose'].touched
        "
      >
        Mező kitöltése kötelező
      </mat-error>
    </mat-form-field>

    <label class="radio-button-label">Bejáratok</label>
    <mat-radio-group formControlName="haccp_entrances" class="radio-group">
      <mat-radio-button
        class="radio-button"
        *ngFor="let option of entranceOptions | keyvalue"
        [value]="option.key"
      >
        {{ option.value }}
      </mat-radio-button>
    </mat-radio-group>

    <label class="radio-button-label">Áru útvonalak keresztezik egymást</label>
    <mat-radio-group
      formControlName="haccp_route_intersects"
      class="radio-group"
    >
      <mat-radio-button class="radio-button" value="true"
        >Igen, időben elkülönül</mat-radio-button
      >
      <mat-radio-button class="radio-button" value="false"
        >Nincs</mat-radio-button
      >
    </mat-radio-group>

    <label class="radio-button-label">Áru átvételi hellyel rendelkezik</label>
    <mat-radio-group
      formControlName="haccp_place_of_receipt"
      class="radio-group"
    >
      <mat-radio-button class="radio-button" value="true"
        >Igen</mat-radio-button
      >
      <mat-radio-button class="radio-button" value="false"
        >Nincs</mat-radio-button
      >
    </mat-radio-group>

    <label class="radio-button-label">Vízellátása</label>
    <mat-radio-group formControlName="haccp_water_supply" class="radio-group">
      <mat-radio-button
        class="radio-button"
        *ngFor="let option of waterSupplyOptions | keyvalue"
        [value]="option.key"
      >
        {{ option.value }}
      </mat-radio-button>
    </mat-radio-group>

    <label class="radio-button-label">Szennyvíz elvezetés módja</label>
    <mat-radio-group formControlName="haccp_sewage_drain" class="radio-group">
      <mat-radio-button
        class="radio-button"
        *ngFor="let option of sewageDrainOptions | keyvalue"
        [value]="option.key"
      >
        {{ option.value }}
      </mat-radio-button>
    </mat-radio-group>
  </form>
</div>
