<form [formGroup]="profileForm">
  <mat-form-field>
    <mat-label>Név</mat-label>
    <input formControlName="user_name" matInput />
    <mat-error
      *ngIf="
        profileForm.controls['user_name'].dirty ||
        profileForm.controls['user_name'].touched
      "
    >
      Legalább 4, maximum 20 karakter
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>E-mail cím</mat-label>
    <input formControlName="user_email" matInput />
    <mat-error
      *ngIf="
        profileForm.controls['user_email'].dirty ||
        profileForm.controls['user_email'].touched
      "
    >
      Az e-mail cím formátuma nem megfelelő
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Telefonszám</mat-label>
    <input formControlName="user_phone" matInput />
    <mat-error *ngIf="profileForm.controls['user_phone'].dirty">
      A telefonszám formátuma nem megfelelő
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Jelszó</mat-label>
    <input
      [type]="hide ? 'password' : 'text'"
      formControlName="oldPassword"
      matInput
    />
    <mat-icon matSuffix (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error
      *ngIf="
        profileForm.controls['oldPassword'].dirty ||
        profileForm.controls['oldPassword'].touched
      "
    >
      Jelszó megadása kötelező
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Új jelszó</mat-label>
    <input
      [type]="hide ? 'password' : 'text'"
      formControlName="user_password"
      matInput
    />
    <mat-icon matSuffix (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error
      *ngIf="
        profileForm.controls['user_password'].dirty ||
        profileForm.controls['user_password'].touched
      "
    >
      Jelszó erőssége nem megfelelő
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Új jelszó újra</mat-label>
    <input
      [type]="hide ? 'password' : 'text'"
      formControlName="rePassword"
      matInput
    />
    <mat-icon matSuffix (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error
      *ngIf="
        (passwordsNotMatch && profileForm.controls['rePassword'].dirty) ||
        profileForm.controls['rePassword'].touched
      "
    >
      A jelszavak nem egyeznek
    </mat-error>
  </mat-form-field>
</form>
