<div class="form">
  <form [formGroup]="haccpForm">
    <app-input-form-control
      [label]="'Egység elnevezése'"
      [readonly]="readonly"
      formControlName="haccp_unit_name"
      [formControl]="haccpForm.controls.haccp_unit_name"
    ></app-input-form-control>

    <app-input-form-control
      [label]="'Telephely címe'"
      [readonly]="readonly"
      formControlName="haccp_company_location"
      [formControl]="haccpForm.controls.haccp_company_location"
    ></app-input-form-control>

    <mat-form-field>
      <mat-label>Cég kategória</mat-label>
      <mat-select formControlName="haccp_company_category">
        <mat-option
          *ngFor="let option of companyCategoryOptions | keyvalue"
          [value]="option.key"
          >{{ option.value }}</mat-option
        >
      </mat-select>
      <mat-error
        *ngIf="
          haccpForm.controls['haccp_company_category'].dirty ||
          haccpForm.controls['haccp_company_category'].touched
        "
      >
        Mező kitöltése kötelező
      </mat-error>
    </mat-form-field>
  </form>
</div>
