<div class="page">
  <div class="form mat-elevation-z8">
    <button routerLink="/login" mat-button id="exit-btn">
      <mat-icon>close</mat-icon> Mégse
    </button>
    <div class="edit-icon">
      <mat-icon>description</mat-icon>
    </div>
    <h2>Új jelszó beállítása</h2>
    <form [formGroup]="newPasswordForm" class="form">
      <mat-form-field>
        <mat-label>Új jelszó</mat-label>
        <input
          [type]="hide ? 'password' : 'text'"
          formControlName="user_password"
          matInput
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error
          *ngIf="
            newPasswordForm.controls['user_password'].dirty ||
            newPasswordForm.controls['user_password'].touched
          "
        >
          Jelszó erőssége nem megfelelő
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Új jelszó újra</mat-label>
        <input
          [type]="hide ? 'password' : 'text'"
          formControlName="rePassword"
          matInput
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error
          *ngIf="
            (passwordsNotMatch &&
              newPasswordForm.controls['rePassword'].dirty) ||
            newPasswordForm.controls['rePassword'].touched
          "
        >
          A jelszavak nem egyeznek
        </mat-error>
      </mat-form-field>
    </form>
    <small *ngIf="expired" class="error">
      A jelszóváltoztatáshoz kiküldött link már nem érvényes!
    </small>
    <div class="button-holder" mat-dialog-actions>
      <button
        (click)="onSave()"
        mat-button
        color="primary"
        id="save-btn"
        mat-raised-button
      >
        Mentés
      </button>
      <button
        routerLink="/login"
        mat-button
        color="accent"
        id="cancel-btn"
        mat-raised-button
      >
        Mégse
      </button>
    </div>
  </div>
</div>
