<div class="login-card-holder">
  <div class="login-bg"></div>
  <div class="login-card">
    <h1>Bejelentkezés</h1>

    <div class="login-form">
      <form [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Jelszó</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            matInput
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="emailOrPasswordIsWrong">
          Email vagy jelszó helytelen
        </mat-error>

        <div class="button-holder">
          <button id="login-btn" mat-raised-button (click)="login()">
            Bejelentkezés
          </button>
        </div>
        <div class="bottom">
          <p>
            Nincs még felhasználód?
            <button matStepperNext mat-button color="primary">
              Regisztráció
            </button>
          </p>
          <p>
            Elfelejtetted a jelszavad?
            <button mat-button color="primary" (click)="forgotPassword()">
              Új jelszó kiküldése
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
