<div class="page">
  <div class="form mat-elevation-z8">
    <div class="edit-icon">
      <mat-icon>article</mat-icon>
    </div>
    <h2>Adatbekérő lap kitöltése</h2>

    <mat-horizontal-stepper orientation="horizontal" #stepper>
      <mat-step>
        <app-haccp-category-form
          [readonly]="readonly"
          [companyCategoryOptions]="companyCategoryOptions"
          (haccpCategoryFormEvent)="haccpCategoryFormEvent($event)"
        ></app-haccp-category-form>
      </mat-step>

      <mat-step>
        <app-haccp-restaurant
          *ngIf="
            haccpCategoryForm.controls.haccp_company_category.value === 'BUFFET'
          "
          [coldStorageProductOptions]="coldStorageProductOptions"
          [productPreparatoryOptions]="productPreparatoryOptions"
          [eggOptions]="eggOptions"
          [deliveryMethodOptions]="deliveryMethodOptions"
          [refigratorOptions]="refigratorOptions"
          [storageOptions]="storageOptions"
          [sewageDrainOptions]="sewageDrainOptions"
          [waterSupplyOptions]="waterSupplyOptions"
          [entranceOptions]="entranceOptions"
          [foodWasteTransportOptions]="foodWasteTransportOptions"
          [pestControlOptions]="pestControlOptions"
          [dishToWashOptions]="dishToWashOptions"
          [dishwasherOptions]="dishwasherOptions"
          (saveEvent)="onSave()"
          (cancelEvent)="onCancel()"
        ></app-haccp-restaurant>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
