@use "../../../../styles.scss" as s;
.page {
  width: 80%;
  margin: 2rem auto;
  @media only screen and(max-width: 1200px) {
    width: 90%;
  }
  @media only screen and(max-width: 890px) {
    width: 100%;
  }
}
.form {
  @include s.formCard;
  h2 {
    text-align: center;
  }
  .edit-icon {
    @include s.editIcon;
  }
}

mat-horizontal-stepper {
  background: whitesmoke !important;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
