::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.page {
  height: 100%;
  height: -webkit-calc(100% - 170px);
  height: -moz-calc(100% - 170px);
  height: calc(100% - 170px);
  @media only screen and(max-width: 988px) {
    height: -webkit-calc(100% - 147px);
    height: -moz-calc(100% - 147px);
    height: calc(100% - 147px);
  }
  width: 100%;
  background: white;
}
