::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.page {
  height: auto;
  min-height: -webkit-calc(100% - 170px);
  min-height: -moz-calc(100% - 170px);
  min-height: calc(100% - 170px);
  @media only screen and(max-width: 988px) {
    min-height: -webkit-calc(100% - 147px);
    min-height: -moz-calc(100% - 147px);
    min-height: calc(100% - 147px);
  }
  width: 100%;
  background: white;
}
