<div class="content">
  <div class="flex-container">
    <div class="text-container">
      <h2>Készítse el digitális HACCP tervét kevesebb, mint 1 óra alatt!</h2>
      <p>
        Készítse el nemzetközi minősítésű HACCP (Hazard Analysis and Critical
        Control Point) tervét a WEB HACCP segítségével, és teljesítse az összes
        jogi követelményt! Nincs szükség előzetes élelmiszerbiztonsági
        ismeretekre!
      </p>

      <p>
        A WEB HACCP segít Önnek egy teljesen testreszabható digitális HACCP
        tervet 500-szor gyorsabban elkészíteni, rengeteg papír felhasználása
        vagy élelmiszerbiztonsági tanácsadó alkalmazása nélkül.
      </p>

      <p>
        Nem számít, hogy az ország mely pontján létesít egységet vagy
        mozgóboltot. A WEB HACCP segítségével dokumentumait, ha szeretné
        kinyomtatva, papír alapon tárolhatja, vagy akár elektronikusan
        bemutathatja azokat az ellenőrző hatóság részére.
      </p>

      <p>Gyerekjáték a HACCP készítés, tegyen egy próbát!</p>
      <br />
      <button mat-raised-button color="primary" [routerLink]="'/haccp'">
        KITÖLTÖM AZ ADATBEKÉRŐT
      </button>
    </div>
    <div class="img-container">
      <img
        src="https://images.pexels.com/photos/1251196/pexels-photo-1251196.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
        alt=""
      />
    </div>
  </div>
</div>
