<div class="content">
  <div class="flex-container">
    <div class="text-container">
      <h2>Készítse el digitális HACCP tervét kevesebb, mint 1 óra alatt!</h2>
      <p>
        Készítse el nemzetközi minősítésű HACCP (Hazard Analysis and Critical Control Point) tervét a WEB HACCP segítségével, és teljesítse az összes jogi követelményt. Nincs szükség előzetes élelmiszerbiztonsági ismeretekre.
A WEB HACCP segít Önnek egy teljesen testre szabható digitális HACCP tervet 500-szor gyorsabban elkészíteni, rengeteg papír vagy élelmiszer-biztonsági tanácsadó alkalmazása nélkül.

Nem számít, hogy az ország mely pontján létesít egységet, vagy mozgóboltot.
A WEB HACCP segítségével dokumentumait, ha szeretné kinyomtatva papír alapon tárolhatja, vagy akár elektronikusan képes azt bemutani az ellenőrző hatóság részére.

Gyerek játék a HACCP készítés, tegyen egy próbát.

HACCP felülvizsgálat? A múlté… A rendszer autómatikusan jelzi Önnek, ha a dokumentumok a lejárathoz közelednek, pár kattintás, és a dokumentumok felülvizsgálatát Önmagának elvégezheti, külsős tanácsadó nélkül.

Takarítson meg időt és pénzt, digitalizálja élelmiszerbiztonságát
Vigye be az élelmiszer-biztonsági innovációt cégébe, és digitalizálja az összes élelmiszer-biztonsági dokumentumát. Itt az ideje, hogy megszabaduljon HACCP-papírjaitól.

Mentse el az összes élelmiszerbiztonsági adatát egy helyen, és készüljön fel időben a közelgő auditokra. Ellenőrizze az élelmiszer-biztonságot, és tegye könnyen érthetővé az élelmiszer-biztonsági szabályokat minden élelmiszerrel foglalkozó ember számára.

+20% szabadidő
Takarítson meg élelmiszer-biztonsági feladatokat


Heti 8 órát takaríthat meg a rutin élelmiszer-biztonsági feladatok betartásával. Figyeljen mindenféle élelmiszer-biztonsági eljárást, és használjon értesítéseket az élelmiszerbiztonság ellenőrzése érdekében. A valós idejű irányítópult segítségével a felügyeletre fordított idő további 20%-át takaríthatja meg.

      </p>
      <br />
      <button mat-raised-button color="primary" [routerLink]="'/haccp'">
        TOVÁBB
      </button>
    </div>
    <div class="img-container">
      <img
        src="https://images.pexels.com/photos/1251196/pexels-photo-1251196.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
        alt=""
      />
    </div>
  </div>
</div>
