<div class="content">
  <div class="flex-container">
    <div class="text-container">
      <h2>4 Egyszerű lépésben hozzájuthatsz a HACCP dokumentumhoz.</h2>
      <p>
        <span class="bold"> 1.Regisztrálj!  </span>( Javasolt, hiszen csak így tudsz a későbbiekben módosítani a dokumentumon, és
        értesülsz a jogszabályok változásáról is.)
      </p>

      <p>
        <span class="bold">2. Töltsd fel az egységed adatait.</span> (Itt üzletedre szabhatod a kritikus pontokat, és a
        rendszer automatikusan leszabályozza. Csak a legszükségesebb ellenőrzéseket kell elvégezned, nem
        az a célunk, hogy egy 8 órában foglalkoztatott irodistát is felvegyél.)
      </p>

      <p>
        <span class="bold">3. Fizess biztonságosan! </span> (Adataidat nem kérjük el, nem is őrizgetjük. Erre ott az OTP
SimplePay, ahol biztonságosan tudod intézni a fizetést.)
      </p>

      <p><span class="bold">4. Kész is vagy! </span>(Töltsd le, vagy vezesd elektronikusan. Amíg a SimplePay
        oldalán jársz, elkészítjük a HACCP dokumentumodat. Innentől már tiéd a döntés, hogy papíralapon
        vagy elektronikusan szeretnéd vezetni.)</p>
      <br />
      <button
        mat-raised-button
        color="primary"
        [routerLink]="'/haccp'"
        (click)="scrollTop()"
      >
        KITÖLTÖM AZ ADATBEKÉRŐT
      </button>
    </div>
    <div class="img-container">
      <img
        src="../../../../../assets/about.jpeg"
        alt=""
      />
    </div>
  </div>
</div>
