/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgb(235, 235, 235);
}

* {
  box-sizing: border-box;
}

//Angular material theming
@import "../node_modules/@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: "Cabin",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(14px, 18px, 500),
);
@include mat-core($custom-typography);

//Only 3 options avaible (+3 dark vesrion)
$mat-theming-primary: mat-palette($mat-teal, 500);
$mat-theming-accent: mat-palette($mat-blue-grey, 700);
$mat-theming-warn: mat-palette($mat-red, 800);

$mat-theming-theme: mat-light-theme(
  $mat-theming-primary,
  $mat-theming-accent,
  $mat-theming-warn
);

@include angular-material-theme($mat-theming-theme);
@include angular-material-typography($custom-typography);

.custom-dialog-container .mat-dialog-container {
  padding: 0;
}

$colors-map: (
  my-blue: #00796b,
  my-light-blue: #009688,
  my-grey: #455a64,
);

// FONTS

$fonts-map: (
  title: "Cabin",
  text: "Lato",
);
