.button-holder {
  display: flex;
  margin: 1rem 0;
}
#primary-btn {
  margin-top: 1rem;
  border-radius: 12px;
  width: 140px;
}
#secondary-btn {
  margin-top: 1rem;
  border-radius: 12px;
  width: 140px;
  margin-right: 0.5rem;
}
.error {
  color: #c62828;
}

mat-horizontal-stepper {
  background: whitesmoke !important;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  white-space: nowrap;
  display: flex !important;
  align-items: center;
}
