<figure class="header">
  <img
    src="../../../../../assets/header.jpg"
  />
  <figcaption>
    <h1>Üdvözlünk a WEB HACCP oldalán ahol percek alatt készítheted el <br> saját üzletedre szabottan a HACCP-det.</h1>
    <p>A WEB HACCP minden vendéglátással foglalkozó üzletnek megoldást jelenthet. <br> Akár 15 perc alatt
      elkészítheted saját üzletedre szabottan a HACCP dokumentumot, és a jövőben azt bármikor
      módosíthatod, felülvizsgálhatod, sőt Tanúsítványt is kérhetsz magadnak. <br> Te döntesz, hogy ezt
      digitálisan vagy papír alapon akarod vezetni, ugyanis a rendszer lehetőséget ad mindkettőre.</p>
  </figcaption>
</figure>
