<div class="page">
  <h1>MEGFELEL NEKEM A WEB HACCP?</h1>
  <h2>
    Minél több kérdésre IGEN a válasza, annál valószínűbb, hogy a WEB HACCP
    ideális megoldás cége számára!
  </h2>
  <ul>
    <li>Vett már részt korábban HACCP készítési folyamatban?</li>
    <li>
      Szüksége van egy gyorsan elkészülő HACCP tervre, hatósági ellenőrzés vagy
      más okból, és idő hiányában a “hagyományos” módszerrel már nem biztos,
      hogy elkészülne?
    </li>
    <li>
      Étterme, üzlethelyisége beletartozik az
      <a routerLink="/home" fragment="categories">itt</a> található kategóriák
      valamelyikébe?
    </li>
    <li>
      Vendéglátóhelyére igaz, hogy nem használ speciális konyhai technológiákat
      (pl. mikromolekuláris eljárások, sous-vide, éjszakai sütés, stb.)?
    </li>
    <li>
      Szeretne munkaórát és pénzt spórolni, és ennek érdekében hajlandó
      kitölteni egy üzletfelmérő kérdőívet? A
      <a routerLink="/haccp"> kérdőív </a> kitöltése során az üzlet
      elrendezésével, takarítási módszerekkel, kínálattal és tárolással
      kapcsolatos kérdésekre kell főként választ adnia.
    </li>
  </ul>
  <h3>
    Ha a fenti kérdések nagy részére igen a válasz, a WEB HACCP az Ön megoldása!
  </h3>
  <h2>Mikor nem felel meg nekem a WEB HACCP?</h2>
  <ul>
    <li>Ha vendéglátóhelyén speciális konyhai technológiákat alkalmaznak.</li>
    <li>
      Ha nem tudja pontosan felmérni az ételek tárolásával, szállításával,
      felszolgálásával és a takarítási módszerekkel kapcsolatos gyakorlatokat
      üzletében.
    </li>
    <li>
      Ha a tárolás vagy a szállítás módja szokatlan, esetleg nem teljesen biztos
      az ezek során használt gyakorlat helyességében.
    </li>
    <li>
      Ha nem szeretne online kérdőívet kitölteni, és inkább személyes felmérés
      során készíttetné el HACCP tervét.
    </li>
    <li>
      Ha elkezdi kitölteni a <a routerLink="/haccp"> WEB HACCP kérdőívét </a>,
      de a kérdések során elakad vagy nem talál olyan választ, ami jól leírja az
      Ön üzletét - ebben az esetben azonban lehetőség van arra, hogy kollégáink
      a későbbi felülvizsgálat során alapul vegyék a kérdőívben már megadott
      adatokat.
    </li>
  </ul>

  <h3>
    Ilyenkor is van megoldásunk! Weboldalunk fő célja a HACCP terv online,
    költséghatékony elkészítése, de oldalunk mögött a Prémium Csoport
    szakértelme áll. Így a bonyolultabb HACCP engedélyezésben is segíteni
    tudunk. Ehhez keresse fel a Prémium HACCP oldalát!
  </h3>

  <button mat-raised-button color="primary" (click)="onOpenPremiumHaccp()">
    TOVÁBB A PRÉMIUM CSOPORTHOZ
  </button>
</div>
