<div class="container">
  <form [formGroup]="haccpForm">
    <app-input-form-control
      [label]="'Milyen kínálattal rendelkezik?'"
      formControlName="haccp_supply"
      [formControl]="haccpForm.controls.haccp_supply"
    ></app-input-form-control>

    <app-select-form-control
      [label]="'Hűtést igénylő termékek'"
      formControlName="haccp_products_require_cold_storage"
      [formControl]="haccpForm.controls.haccp_products_require_cold_storage"
      [options]="coldStorageProductOptions"
    ></app-select-form-control>

    <app-radio-form-control
      [label]="'Történik melegen tartás ételkészítés után?'"
      formControlName="haccp_require_keeping_warm"
      [formControl]="haccpForm.controls.haccp_require_keeping_warm"
      [options]="requireKeepingWarmOptions"
    ></app-radio-form-control>

    <app-select-form-control
      [label]="'Milyen előkészítők vannak?'"
      formControlName="haccp_preparatory"
      [formControl]="haccpForm.controls.haccp_preparatory"
      [options]="productPreparatoryOptions"
    ></app-select-form-control>

    <app-select-form-control
      [label]="'Milyen raktárak vannak?'"
      formControlName="haccp_storages"
      [formControl]="haccpForm.controls.haccp_storages"
      [options]="storageOptions"
    >
    </app-select-form-control>

    <app-select-form-control
      [label]="'Milyen hűtők vagy mélyhűtők vannak?'"
      formControlName="haccp_refrigerator"
      [formControl]="haccpForm.controls.haccp_refrigerator"
      [options]="refigratorOptions"
    ></app-select-form-control>

    <app-radio-form-control
      [label]="'Van kiszállítás?'"
      formControlName="haccp_delivery"
      [formControl]="haccpForm.controls.haccp_delivery"
      [options]="radioOptions"
    ></app-radio-form-control>

    <app-select-form-control
      *ngIf="haccpForm.controls['haccp_delivery'].value === 'true'"
      [label]="'Kiszállítás módja, jármű?'"
      formControlName="haccp_delivery_methods"
      [formControl]="haccpForm.controls.haccp_delivery_methods"
      [options]="deliveryMethodOptions"
    ></app-select-form-control>

    <app-radio-form-control
      [label]="
        'Rendelkezik-e öltözővel? Ha FoodTruck befogadó nyilatkozat van-e?'
      "
      formControlName="haccp_dressing_room"
      [formControl]="haccpForm.controls.haccp_dressing_room"
      [options]="radioOptions"
    ></app-radio-form-control>

    <app-radio-form-control
      [label]="'Használ-e Cukrászati vagy hidegkonyhai készítményt?'"
      formControlName="haccp_cold_products"
      [formControl]="haccpForm.controls.haccp_cold_products"
      [options]="radioOptions"
    ></app-radio-form-control>

    <app-select-form-control
      [label]="'Milyen típusú Tojást használ?'"
      formControlName="haccp_egg"
      [formControl]="haccpForm.controls.haccp_egg"
      [options]="eggOptions"
    ></app-select-form-control>
  </form>
</div>
